@using AppMVC.ViewModels;
@model EmployeeListViewModel
@{
    //Layout = null;
    Layout = "~/Views/Shared/MyLayout.cshtml";
    //AppMVC.Models.Employee emp = (AppMVC.Models.Employee)ViewBag.Employee;
}
@section TitleSection{
    MyView
}
@section ContentBody{
<div>
    @{
        Html.RenderAction("GetAddNewLink");
    }
    <table border="1">
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach (EmployeeViewModel item in Model.Employees)
        {
            <tr>
                <td>@item.EmployeeName</td>
                <td style="background-color:@item.SalaryColor">@item.Salary</td>
            </tr>
        }
    </table>
</div>

}
