
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReceiveTempData</title>
</head>
<body>
    <div> 
        <h3>show temp data from another control : @ViewBag.Message</h3>

    </div>
</body>
</html>
