@using AppMVC.ViewModels.SPA
@model EmployeeListViewModel
<div>
@{
    Html.RenderAction("GetAddNewLink");
}

    <table border="1" id="EmployeeTable">
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
@foreach (EmployeeViewModel item in Model.Employees)
{
    <tr>
         <td> @item.EmployeeName </td>
         <td style = "background-color:@item.SalaryColor"> @item.Salary </td>
    </tr>
}
    </table>
</div>