@using AppMVC.ViewModels.SPA
@model MainViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />    
    
    <title>Employee Single Page Application</title>
</head>
<body>
    <div style="text-align:right">
        Hello, @Model.UserName
        <a href="/Authentication/Logout">Logout</a>
    </div>
    <hr />
    <div id="DivOption">
        @Html.Action("EmployeeList", "Main")
    </div>
    @Html.Partial("Footer", Model.FooterData)

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        function OpenAddNew() {
            $.get("/SPA/Main/AddNew").then
                (
                    function (r) {
                    $("<div id='DivCreateEmployee'></div>").html(r).
                        dialog({
                            width: 'auto', height: 'auto', modal: true, title: "Create New Employee",
                            close: function () {
                                $('#DivCreateEmployee').remove();
                            }
                        });
                    }
                ).fail(                
                function (response) {
                        alert('Loading Add Page Error: ' + response.responseText);
                });                    
        }

        function OpenBulkUpload() {
            $.get("/SPA/SpaBulkUpload/Index").then
                (
                function (r) {
                    $("<div id='DivBulkUpload'></div>").html(r).dialog({
                        width: 'auto', height: 'auto', modal: true, title: "Create New Employee",
                        close: function () {
                            $('#DivBulkUpload').remove();
                        }
                    });
                }
                ).fail(
                function (response) {
                    alert('Error: ' + response.responseText);
                });
        }
    </script>

</body>
</html>