@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ticket Tracker Maybe</h1>
    <p class="lead">Select AngularJS Portal or Regualat MVC </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>