
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestTempData</title>
</head>
<body>
    <div> 
        <h3>show temp data Here: @ViewBag.Message</h3>
        <h3>show temp data to another Action @Html.ActionLink("Home","About")   </h3>

    </div>
</body>
</html>
