@using AppMVC.ViewModels
@model FileUploadViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    Bulk Upload
}
@section ContentBody{
    <div>
    <a href="/Employee/Index">Back</a>
    <form action="/BulkUpload/Upload" method="post" enctype="multipart/form-data">
    Select File : <input type="file" name="fileUpload" value="" />
    <input type="submit" name="name" value="Upload" />
    </form>
    </div>
}